.display {
    grid-column: span 4;
    background-color: rgb(56, 52, 52);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1rem;
    overflow: hidden;
}